body {
    h1 {
        text-align: center;
    }

    h2 {
        color: #2C1F7B;
    }
}

.brainPick {
    display: flex;
    justify-content: space-around;
}
.attributeCards {

    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    // justify-content: flex-start;
 

}
.atest {
    display: flex;
    justify-content: space-evenly;
}
.atest2 {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.attributeCardsElement {
    display: flex;
    flex-direction: column;
}
#engagement {

    ul {
        padding: 0px;
        list-style-position: inside;

        li:nth-of-type(1) {
            margin-top: 15px;
        }
    }
}
.empowerBackDiv {
    background-image: url('./Pic/Engagement/wave.png');
    background-size: cover;
}

#footer {
    color: white;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;

    margin: 50px 0px 0px 0px;


    height: auto;
    width: 100%;
    background: linear-gradient(180deg, #1F155E 0%, #2C1F7B 100%);
    box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 80%/70px 70px 0 0;
}



.logoFooter {

    p:first-of-type {
        margin-top: 25px;
    }

}
.footerOptions {
}

.socialNetworkIcons {
    
    i {
        font-size: 3em;
        margin: 0 10px 0 10px;
    }
}



.TalentCard {
    h5 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.locationThreePin {
    text-align: center;
}

.blueLine {
    height: 4px;
    width: 86px;
    background-color: #2300FF;
    margin: 0 auto 50px auto;
}

.grayLine {
    box-sizing: border-box;
    height: 1px;
    width: 174px;
    border: 2px solid rgb(172, 172, 172);
    margin: 20px 0px 20px 0px;
    border-radius: 4px;
}

.pinkLine {

    box-sizing: border-box;
    height: 3px;
    width: 167px;
    border: 2px solid #DF3C7B;
    margin: 20px 0px 20px 0px;

}

.contactButton {
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 5px;
    background-color: #DF3C7B;
    font-size: 1.4em;
}

.bigSpan {
    font-size: 3em;
    line-height: 1em;
}